.contact-us {
  background-color: #f9f9f9;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  /* min-height: 100vh; */
  padding-top: 3rem;
  padding-bottom: 3rem;
}