.slider-header {
  margin: 32px 0;
}

.slider-images {
  padding: 16px;
  margin-bottom: 32px;
  object-fit: cover;
}

@media (min-width: 992px) {
  .slider-container {
    padding: 64px;
    margin-bottom: 64px;
  }

  .slider-images {
    max-height: 80vh;
  }
}
