.slider-container{
  background-color: #fff;
}

.slider-header {
  padding: 3rem 0 2rem 0;
}

.slider-images {
  padding-bottom: 3rem;
  object-fit: cover;
}

.carousel-inner img {
  height: 80vh;
  /* width: 100vw; */
}

.display-2 {
  font-size: 2rem;
}

@media (max-width: 576px) {
  .carousel-inner img {
    height: 100vw;
  }
}